@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.contact-title {
  text-align: center;
}

.contact {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.35) 100%), url(../imagenes/contact-bg.png) no-repeat center center fixed;
  background-size: cover;
}

.contact-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}

h2 {
  font-weight: 400;
  font-size: 32px;
}

input,
textarea.contact-form-input {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  border-color: #ffffff;
  color: #ffffff;
}

#container-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 600px;
  padding: 20px;
}

.form-box {
  width: 100%;
  max-width: 400px;
  padding: 30px 15px;
  border-radius: 4px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contact-form-label {
  display: inline-block;
  margin: 0.5rem 0;
  margin: 2rem 0 2rem 0;
  letter-spacing: 0.2px;
  font-size: 1rem;
}

.contact-form-input {
  width: 100%;
  padding: 15px 10px;
  border-radius: 4px;
  outline: 0;
}

textarea.contact-form-input {
  width: 100%;
  min-height: 10ch;
  max-height: 120ch;
  padding: 10px;
  resize: none;
}

.two-columns {
  display: grid;
  grid-template-columns: 100%;
}

fieldset {
  border: none;
}

.btn-black {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  width: 100%;
  margin-top: 10px;
  padding: 15px;
  border: none;
  border-radius: 4px;
  background-color: #000000;
  color: #fff;
  font-size: 14px;
  text-align: center;
  outline: none;
}

.btn-black::hover {
  background-color: #fff;
}

@media screen and (min-width: 481px) {
  .two-columns {
    grid-template-columns: 48% 48%;
    grid-column-gap: 4%;
  }
}
/*body {
    width: 100vw;
    margin: 0;
    padding: 0;
}*/
* {
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 4417px;
  /*border: 3px solid red;*/
}

body {
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 0%, #F5F5F5 51.56%, rgba(245, 245, 245, 0) 100%);
}

header {
  /*width: 100vw;*/
  width: 960px;
  height: 115px;
  margin-left: auto;
  margin-right: auto;
}

.first_section aside {
  position: absolute;
  top: 40rem;
  display: inline-block;
}

/*Botones balncos y negro*/
.buttonBlack {
  border-radius: 10px;
  background-color: black;
  color: white;
  margin: 8px;
  height: 32px;
}

.buttonWhite {
  border-radius: 10px;
  background-color: white;
  color: black;
  margin: 8px;
  height: 32px;
}

.first_section {
  width: 960px;
  /*width: 100vw;*/
  height: 840px;
  /*left: 0px;*/
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  justify-content: center;
  text-align: center;
}

.heading {
  font-family: "Raleway", sans-serif;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.heading > div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 22px 0 22px;
}

.titles > h2 {
  font-family: "Abril Fatface", cursive;
  font-size: xx-large;
}

.titles > span {
  font-family: "Raleway", sans-serif;
}

/*Iconos de redes sociales*/
.social_icons {
  height: 32px;
  width: 32px;
  color: black;
  margin: 1rem;
  display: block;
}

/* Sección 2 */
.section-container {
  /*position: absolute;*/
  width: 960px;
  height: 761px;
  /*left: 0px;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.820101) 14.06%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 55.32%, rgba(255, 255, 255, 0.6454) 88.52%, #FFFFFF 97.7%);
}

video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#sub-title {
  /*position: absolute;*/
  width: 470px;
  height: 62px;
  margin-left: 245px;
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
  /*border: 1px solid blue;*/
}

.general-article-section {
  width: 28rem;
  height: 25rem;
  /*border: 1px solid black;*/
  display: inline-block;
  margin-top: 5rem;
  vertical-align: top;
}

.article1 {
  padding: 1rem;
  padding-left: 32px;
}

#piano-name {
  /*position: absolute;*/
  /*width: 218px;*/
  width: 240px;
  height: 32px;
  /*margin-left: 32px;*/
  /*top: 1188px;*/
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  /*border: 1px solid black;*/
}

.article-div {
  width: 30vh;
  /*border: 1px solid green;*/
  margin-top: 5rem;
}

.article-div p {
  display: inline;
  color: white;
}

.article-div img {
  display: inline;
}

.button-section2 {
  /*position: absolute;*/
  width: 228px;
  height: 32px;
  /*margin-left: 32px;*/
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  background-color: #000000;
  border-radius: 0.5rem;
  color: #FFFFFF;
}

.general-article-section p {
  /*margin-left: 32px;*/
  color: white;
}

.general-article-section .article-div {
  /*position: absolute;*/
  margin-top: 1rem;
  /*margin-right: 32px;*/
}

.imagenes-article2 {
  position: absolute;
  width: 32vw;
}

#h3-precio {
  /*margin-left: 32px;*/
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

/*Sección 3*/
.container {
  width: 960px;
  height: 761px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  /*display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;*/
  background: linear-gradient(180deg, rgb(245, 245, 245) 0%, #F5F5F5 51.56%, rgba(245, 245, 245, 0) 100%);
}

h1 {
  width: 470px;
  height: 62px;
  margin-left: 250px;
  margin-top: 2rem;
  margin-bottom: 10rem;
  font-family: "Abril Fatface";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}

.art_left {
  width: 250px;
  height: 239px;
  margin-left: 50px;
  color: black;
  background: #FFFFFF;
  display: inline-block;
  box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.art_center {
  width: 250px;
  height: 239px;
  margin-left: 50px;
  background: #FFFFFF;
  display: inline-block;
  box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.art_right {
  width: 250px;
  height: 239px;
  margin-left: 50px;
  background: #FFFFFF;
  display: inline-block;
  box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
}

.photo {
  width: 90px;
  height: 90px;
  position: relative;
  top: -95px;
  margin-left: 20px;
  border-bottom-style: dashed gray;
}

.texts {
  margin-left: 15px;
}

span {
  display: inline-block;
}

.button {
  background: none;
  width: 70%;
  font-family: "Raleway";
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  padding: 5px 5px;
  margin: 5px;
  border-radius: 8px;
  border: 1px solid black;
}

.btn_cart {
  overflow: hidden;
  background-position: center;
  background-size: cover;
  display: inline-block;
}

.div-button-s3 {
  width: 100vw;
  height: 4rem;
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  width: 129px;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background: #000000;
  border-radius: 8px;
  cursor: pointer;
}

.imagen-carrito {
  width: 3rem;
  height: 3rem;
  background-color: black;
  display: inline-block;
}/*# sourceMappingURL=style.css.map */